@import "reset.css";
:root{
    --boderRadius : 2%;
    --boxShadow: 2px 4px 8px rgb(150, 150, 150);
}
body{
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    padding: 5vh;
}

canvas {    
    background-color: rgb(204, 204, 204);
    height: 90vh;
    width: 90vh;

    border-radius: var(--boderRadius);
    box-shadow: var(--boxShadow);
}