@import "reset.css";
body{
    background-color: rgb(30, 30, 30);
    padding: 0px;
}

.homeBtn{
    outline: none;
    position: fixed;
    margin: 5px;
    padding: 10px;
    
    font-size: 16px;
    border-radius: 10%;
}
.canvasWrapper{
    display: flex;
    justify-content: center;
    padding: 5vh;
}
canvas {    
    z-index: 1;
    background-color:darkgrey;
    height: calc(min(90vh,90vw));
    width: calc(min(90vh,90vw));
    border-radius: 2%;
}
